
<div class="jumbotron jumbotron-fluid jumbotron-top">
  <div class="container-top">
    <div class="content-top">
        <h1 class="col-md-12 display-4 text-center">CollectionBook</h1>
        <p class="col-md-12 lead text-center">あなたのコレクションを披露ください</p>
    </div>
  </div>
</div>
<div class="container center-block">
    <div class="row">
        <button type="button" class="col-xs-6 btn btn-warning ml-auto d-block">新規登録</button>
        <button type="button" class="col-xs-6 btn btn-warning mr-auto d-block">ログイン</button>
    </div>
</div>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>