
<div class="jumbotron-top jumbotron jumbotron-fluid">
  <div class="container-top">

    <div class="row align-items-center" style="height:50%">
      <div class="col">
        <h1 class="display-4 text-center">CollectionBook</h1>
        <p class="lead text-center">コレクション共有サイト</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 offset-sm-3">
        <%= link_to("会員登録",{:controller =>"user",:action =>"signup"},:class => "btn btn-warning") %>
      </div>
      <div class="col-sm-3">
        <%= link_to("ログイン",{:controller =>"user",:action =>"signin"},:class => "btn btn-warning") %>
      </div>
    </div>

  </div>
</div>
